.contact__form{
    width: 80%;
    margin: 50px auto;
    form{
        .form{
            
            .form__labels{
                display: flex; 
            }
            
        }
        label{
            border: 0;
        }

    }
}